<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="newReporttest"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.newreporttest.entity.Book</class>
        <class>com.company.newreporttest.entity.LiteratureType</class>
        <class>com.company.newreporttest.entity.Author</class>
        <class>com.company.newreporttest.entity.RefEntity</class>
        <class>com.company.newreporttest.entity.Dummy</class>
        <class>com.company.newreporttest.entity.KeyTwo</class>
        <class>com.company.newreporttest.entity.TestTwo</class>
        <class>com.company.newreporttest.entity.NewEntity</class>
        <class>com.company.newreporttest.entity.KeyOne</class>
        <class>com.company.newreporttest.entity.TestOne</class>
        <class>com.company.newreporttest.entity.Ponder</class>
        <class>com.company.newreporttest.entity.Stamen</class>
    </persistence-unit>
</persistence>
